{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="agency-input-form">
    <form action="{% url 'pages:agencies' %}" method="post" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        {{ form|crispy }}
        <button name='submit' class='btn btn-dark ml-2 mt-2 mb-2'>Search for Agency</button>
    </form>
</div>

{% if jsonResponse %}
{% for query in jsonResponse.results %}

<div class="card" style="width: 28rem;">
    {% if query.image_url %}
    <img src="{{ query.image_url }}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h3 class="card-title" style="text-align: center;">{{ query.abbrev }}</h3>
        <h5 class="card-title" style="text-align: center;">
        Agency Name: {{ query.name }}</h5>
        <hr>

        <h5 class="card-title" style="text-align: center;">Founding_year: {{ query.founding_year }}</h5>

    <p class="card-text" style="text-align: center;">Country Code: {{ query.country_code }}</p>
    <hr>
    <p class="card-text" style="text-align: center;">{{ query.description }}</p>
    <p class="card-text" style="text-align: center;">Agency Type: {{ query.type }}</p>
    </div>
</div>
{% empty %}

<h1>No Results Available.</h1>

{% endfor %}
{% endif %}

<style>
    .agency-input-form{
        display: flex;
        justify-content: center;
    }
</style>

{% endblock content %}