{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">

<div class="col-md-6">
<div class="jumbotron mx-auto mt-5" style="max-height: fit-content; min-width: 300px; max-width: 500px">
    <h1 class="display-4 mb-3" style="text-align: center; color: #DBC8FF;">Welcome to Cosmos-LaunchPad!</h1>
    <hr class="my-4">
    <h2 class="lead" style="text-align: center; color: #DBC8FF;">Cosmos is a web-application that will provide users with data on previous and upcoming launches along with a database of information on astronauts and space agencies that have been active at some point or another.</h2>
    <p class="lead mt-2" style="text-align: center; color: #DBC8FF;">The application will also provide the real-time location of the ISS around the earth along with NASA's astronomy picture of the day and the current population of people in space.</p>
    <hr>
</div>
</div>

<div class="col-md-6">

<div class="card mt-2" style="min-width: 300px; color: #DBC8FF; background-color: #433445;">
    <div class="card-header">
        <h1 class="lead mb-2" style="text-align: center; font-weight: bold; color: #DBC8FF;">NASA's "Astronomy Picture of the Day"</h1>
    </div>
        <img src="{{ jsonResponse.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-weight: bold;">{{ jsonResponse.title }}</h5>
            <hr>

        {% if jsonResponse.copyright %}
            <h5 class="card-title" style="text-align: center; font-weight: bold;">By: {{ jsonResponse.copyright }}</h5>
        {% endif %}

        <p class="card-text" style="text-align: center;">{{ jsonResponse.explanation }}</p>
        <hr>
        <p class="card-text" style="text-align: center;">Today's Date: {{ jsonResponse.date }}</p>
        </div>
    </div>
</div>

</div>
</div>

<style>
    .jumbotron {
        background-color: #4E0076;
    }
</style>

{% endblock content %}