{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="launch-input-form mt-2">
    <form action="{% url 'pages:launches-events' %}" method="post" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        {{ form|crispy }}
        <button name='submit' class='btn btn-dark ml-2 mt-2 mb-2'>Search for Launch</button>
    </form>
</div>

{% if resultCount %}
<h2 class="mt-2 mb-2" style="text-align: center; color: #DBC8FF;">{{ resultCount }} Results Available</h2>
{% endif %}
{% if upcomingCount %}
<h2 class="mt-2 mb-2" style="text-align: center; color: #DBC8FF;">{{ upcomingCount }} Upcoming Launches</h2>
{% endif %}

{% if page_obj %}
<div class="container" style="width: 100vw">
    <div class="row justify-content-center">
        
{% for query in page_obj %}

<div class="card mb-4" style="width: 55rem;">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            {% if query.image %}
            <img class="card-img-top" src="{{ query.image }}" alt="Rocket Launch">
            {% endif %}
        </div>
        <div class="card-body">
            <h4 class="card-title" style="text-align: center; color: #DBC8FF;">{{ query.name }}</h4>
            <h5 class="card-title" style="text-align: center; text-decoration: underline; color: #DBC8FF;">{{ query.launch_provider }}</h5>
            <hr>
            <p class="card-title" style="text-align: center; color: #DBC8FF;">{{ query.launch_location }}</p>
            <p class="card-text lead mb-4" style="text-align: center; color: #DBC8FF;">Scheduled Date: {{ query.launch_date_time }}</p>

            <div class="mb-4">
                <td><div class="launchCountdown" start="{{ query.launch_date_time }}"></div></td>
            </div>

            <p class="card-text lead" style="text-align: center; color: #DBC8FF;">Launch Status: {{ query.launch_status }}</p>
        </div>
    </div>
    <div class="card-footer">
        {% if query.stream_url %}
            <div style="text-align: center;">
                <a href="{{ query.stream_url }}"><button class="btn btn-success">View Stream</button></a>
            </div>
        {% else %}
            <p style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                <small class="text-muted">No Stream available for this launch!</small>
            </p>    
        {% endif %}
    </div>
</div>



{% empty %}

<h1>No Results Available.</h1>

{% endfor %}
        
</div>
</div>  
  
{% endif %}

{% if page_obj %}

<div class="pagination justify-content-center">

    <span class="step-links">
        <ul class="pagination">

        {% if page_obj.has_previous %}
            <a class="page-link" href="?page=1">&laquo; first</a>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current mx-4" style="align-content: center; color: #DBC8FF;">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

        </ul>
    </span>

</div>

{% endif %}

<script>
    $('.launchCountdown').each(function() {
    this == $(this);
    var launch_date = $(this).attr('start');
    var matchDate = new Date(launch_date);
    $(this).countdown({
        until: matchDate,
        description: 'Until Liftoff!'
    });
});
</script>

<style>
    .launch-input-form{
        display: flex;
        justify-content: center;
    }
    .card{
        border-radius: 15px 75px;
        overflow: hidden;
    }
    .card-horizontal{
        background-color: #4E0076;
    }
    .card-footer{
        background-color: #433445;
    }
    body{
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
    }
    h1{
        color: #396;
        font-weight: 100;
        font-size: 40px;
        margin: 40px 0px 20px;
    }
     #clockdiv{
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
    }
    #clockdiv > div{
        padding: 10px;
        border-radius: 3px;
        background: #00BF96;
        display: inline-block;
    }
    #clockdiv div > span{
        padding: 15px;
        border-radius: 3px;
        background: #00816A;
        display: inline-block;
    }
    smalltext{
        padding-top: 5px;
        font-size: 16px;
    }
    </style>

{% endblock content %}